
.centrar-flex {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario__caja {
    position: relative;
    border-radius: 1rem;
    padding: 3rem;
    width: 40rem;
    background-color: var(--azulHeader);
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.7);
}

.formulario__imagen {
    width: 13rem;
    height: 13rem;
    margin: 2rem auto;
}


@media (min-width: 768px) { 
    .formulario__imagen {
        width: 15rem;
        height: 15rem;
        
    }    
}

.formulario__imagen img {
    margin-top: -2rem;
}


.formulario input[type="email"],
.formulario input[type="password"]{
    display: block;
    position: relative;
    width: 80%;
    margin: 5rem auto;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 2rem;
    color: var(--blanco);
}

.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus {
    outline: none;
    border-bottom: 1px solid var(--blanco);
}

.formulario a {
    display: block;
    font-size: 1.7rem;
    color: var(--grisClaro);
    text-align: center;
}

.formulario a:hover {
    color: var(--blanco);
}

.formulario a:visited {
    color: var(--grisClaro);
}


.formulario input[type="submit"] {
    display: block;
    border: none;
    border-radius: 1rem;
    margin: 2rem auto;
    cursor: pointer;
    padding: 1.5rem;
    background-color: var(--colorBotonNovedad);
    color: var(--blanco);
    font-size: 2rem;
    
}

.formulario input[type="submit"]:hover {
    background-color: var(--colorBotonNovedadClaro);
}


.contenedor__regresar {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    
}

.contenedor__regresar:hover img{
    transition: all 1s ease;
    transform: scale(1.1);
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/


/* Iniciar sesion alumno */












