

.contenido__principal {
    margin-top: 15rem;
}


@media (min-width: 768px) { 
    .novedades__recientes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }    
}

.novedad__reciente {
    position: relative;
    background-color: var(--grisClaro);
    border: 1px solid var(--colorFondo);
    border-radius: 1rem;
    padding: 0 3rem;
    cursor: pointer;
    margin-bottom: 5rem;
}

.novedades__recientes h3 {
    color: var(--colorTituloInicio);
    font-size: 3rem;
    margin: 2rem auto;
}





.novedad__reciente:hover {
    transition: all .7s ease-in-out;
    transform: scale(1.05);
}



.btn_ver_nov {
    display: block;
    color: var(--blanco);
    background-color: var(--colorBotonNovedad);
    padding: .5rem;
    border-radius: .2rem;
    width: 10rem;
    font-size: 2rem;
    text-align: center;
}

.btn_ver_nov:hover {
    background-color: var(--colorBotonNovedadClaro);
}





























